{% include "header.html" %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
		<!-- Short info-->
<div>
<div class = "container justify-content-left col-lg-4 col-md-4 col-sm-12">
	<div class="row cv-field vh-100">
			<article id="top" >
				<div class="container">
					<div class="row justify-content-left">
						<div class="col-sm-12 col-lg-12 col-md-12">
							<span class="image fit"><img class="homepage-image" src="{{url_for('static', filename = 'images/pic00.jpg')}}" alt="" /></span>
						</div>
						    <div class="col-12-small col-12-large col-12-medium cv">
							    <header>
								<h1>  <strong>Андрей Сошин</strong></h1>
							    </header>
							    <p><strong>Мужчина, 29 лет, родился 29 мая 1992</strong></p>
							    <p><strong>Проживает:</strong> г.Москва, м. Жулебино</p>
							    <p><strong>Гражданство:</strong> Россия</p>
							    <p><strong>Общий стаж работы:</strong> 6 лет, 4 месяца</p>
                                <p><strong>Образование:</strong> Высшее</p>
                                <div class="skill-set">
                                    <p><strong>Навыки программирования</strong></p>
                                    <p>Python  ★ ★ ★ ★ ★ ☆ ☆ ☆</p>
                                    <p>Прокрастинация ★★★★★ ☆ ☆ ☆</p>
                                    <p>Безделье ☆ ☆ ☆ ☆ ☆</p>
                                    <p>Старание  ☆ ☆ ☆ ☆ ☆</p>
                                </div>

                                <div class="skill-set">
                                    <p><strong>Личные характеристики</strong></p>
                                    <p>Python  ★ ★ ★ ★ ★ ☆ ☆ ☆</p>
                                    <p>Прокрастинация ★★★★★ ☆ ☆ ☆</p>
                                    <p>Безделье ☆ ☆ ☆ ☆ ☆</p>
                                    <p>Старание  ☆ ☆ ☆ ☆ ☆</p>
                                </div>
						    </div>
					</div>
				</div>
			</article>
    </div>
</div>

<!-- Timeline -->
<section class="timeline_area section_padding_130 col-lg-8 col-md-8 col-sm-12">
    <div class="container">
        <div class="row justify-content-center">
    <!-- Section Heading-->
                <div class="section_heading text-center">
                    <h2>Опыт работы</h2>
                    <h3 class="resume-h3">Кратко об имеющеемся опыте работы</h3>
                    <div class="line"></div>
                </div>
        </div>
    </div>
                <div class="row box-position">
                    <div class="col-lg-8 col-md-8 col-sm-8">
    <!-- Timeline Area-->
                        <div class="apland-timeline-area">
        <!-- Single Timeline Content-->
                            {% for post in posts %}
                            <div class="single-timeline-area">

                                <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="margin-top: 10px;visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                                    <p class = "time-line-text">{{post.working_time}}</p>
                                </div>
                                <a href="{{url_for('job',job_post = post.id)}}">
                                    <div class="row box-area" >
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="single-timeline-content d-flex wow fadeInLeft dots" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;visibility: visible;padding: 0px;padding-bottom:10px; margin: 0px;">
                                                <div class="timeline-icon"><i class="fa fa-address-book fa-box" aria-hidden="true"></i></div>
                                                    <div class="timeline-text col-10">
                                                    <h6>{{post.job_title}}</h6>
                                                    <p class = "box-text ">{{post.position}}</p>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
        {% endfor %}
                </div>
                    </div>

                </div>
                           <div>
                               <div class="container col-8" style="margin-top:20px;">
                                   <h2>Основное образование</h2>
                                   <div class="row">
                                       <div class="education">
                                       <h2>2015-2017</h2>
                                       <p><strong>ВУЗ:</strong> Московский государственный институт международных отношений (У) МИД России</p>
                                       <p><strong>Факультет:</strong> Международный бизнес и деловое администрирование</p>
                                       <p><strong>Направление:</strong> Менеджмент</p>
</div>
                                   <div class="education">
                                       <h2>2011-2015</h2>
                                       <p><strong>ВУЗ:</strong> Московский государственный институт международных отношений (У) МИД России</p>
                                       <p><strong>Факультет:</strong> Международный бизнес и деловое администрирование</p>
                                       <p><strong>Направление:</strong> Менеджмент</p>
</div>
                                   </div>

                                       <h2>Самостоятельное образование и изученные материалы</h2>
                                       <div class="row">
                              <ul>
                                  <li>Курс херни</li>
                                  <li> Курс второй херни</li>


                              </ul>
</div>
                           </div>
                           </div>
</section>

</div>


    {% include "footer.html" %}













