{% include "header.html" %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
		<!-- Short info-->
<div>
<div class = "container justify-content-left col-lg-4 col-md-4 col-sm-12">
	<div class="row cv-field">
			<article id="top" >
				<div class="container">
					<div class="row justify-content-left">
						<div class="col-sm-12 col-lg-12 col-md-12">
							<span class="image fit"><img class="homepage-image" src="{{url_for('static', filename = 'images/pic00.jpg')}}" alt="" /></span>
						</div>
						    <div class="col-12-small col-12-large col-12-medium cv">
							    <header>
								<h1>  <strong>Андрей Сошин</strong></h1>
							    </header>
							    <p><strong>Мужчина, 29 лет, родился 29 мая 1992</strong></p>
							    <p><strong>Проживает:</strong> г.Москва, м. Жулебино</p>
							    <p><strong>Гражданство:</strong> Россия</p>
							    <p><strong>Общий стаж работы:</strong> 6 лет, 4 месяца</p>
                                <p><strong>Образовение:</strong> Высшее</p>
                                <div class="skill-set">
                                    <p><strong>Навыки программирования</strong></p>
                                    <p>Python  ★ ★ ★ ★ ★ ☆ ☆ ☆</p>
                                    <p>Прокрастинация ★★★★★ ☆ ☆ ☆</p>
                                    <p>Безделье ☆ ☆ ☆ ☆ ☆</p>
                                    <p>Старание  ☆ ☆ ☆ ☆ ☆</p>
                                </div>

                                <div class="skill-set">
                                    <p><strong>Личные характеристики</strong></p>
                                    <p>Python  ★ ★ ★ ★ ★ ☆ ☆ ☆</p>
                                    <p>Прокрастинация ★★★★★ ☆ ☆ ☆</p>
                                    <p>Безделье ☆ ☆ ☆ ☆ ☆</p>
                                    <p>Старание  ☆ ☆ ☆ ☆ ☆</p>
                                </div>
						    </div>
					</div>
				</div>
			</article>
    </div>
</div>

<!-- Timeline -->
<section class="timeline_area section_padding_130 col-lg-8 col-md-8 col-sm-12">
    <div class="container">
        <div class="row justify-content-center">
    <!-- Section Heading-->
                <div class="section_heading text-center">
                    <h6>Опыт работы</h6>
                    <h3 class="resume-h3">Кратко об имеющеемся опыте работы</h3>
                    <div class="line"></div>
                </div>
        </div>
    </div>
                <div class="row box-position">
                    <div class="col-lg-8 col-md-8 col-sm-8">
    <!-- Timeline Area-->
                        <div class="apland-timeline-area">
        <!-- Single Timeline Content-->
                            {% for post in posts %}
                            <div class="single-timeline-area">

                                <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="margin-top: 10px;visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                                    <p class = "time-line-text">{{post.working_time}}</p>
                                </div>
                                <a href="{{url_for('job',job_post = post.id)}}">
                                    <div class="row box-area" >
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="single-timeline-content d-flex wow fadeInLeft dots" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;visibility: visible;padding: 0px;padding-bottom:10px; margin: 0px;">
                                                <div class="timeline-icon"><i class="fa fa-address-book fa-box" aria-hidden="true"></i></div>
                                                    <div class="timeline-text col-10">
                                                    <h6>{{post.job_title}}</h6>
                                                    <p class = "box-text ">{{post.position}}</p>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
        {% endfor %}
    <!-- Single Timeline Content-->
                            <div class="single-timeline-area box-area">
                                <div class="timeline-date wow fadeInLeft dots" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                                    <p class="time-line-text">2020-2021</p>
                                </div>
                                    <div class="row box-area" style="margin-top:40px;">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="single-timeline-content d-flex wow fadeInLeft dots" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;visibility: visible;padding: 0px;padding-bottom:10px; margin: 0px;">
                                                <div class="timeline-icon"><i class="fa fa-briefcase fa-box" aria-hidden="true"></i></div>
                                                    <div class="timeline-text col-10">
                                                    <h6>Московский государственный институт международных отношенний</h6>
                                                    <p class = "box-text">Магистратура по направлению Менеджмент</p>
                                                    <p class="box-text">Факультет - ВЭД</p>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
        <!-- Single Timeline Content-->
                            <div class="single-timeline-area">
                                <div class="timeline-date wow fadeInLeft dots bottom" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                                    <p class="time-line-text">2018-2020</p>
                                </div>
                                    <div class="row box-area" style="margin-top:40px;">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="single-timeline-content d-flex wow fadeInLeft dots" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;visibility: visible;padding: 0px;padding-bottom:10px;padding-right:10px;">
                                                <div class="timeline-icon"><i class="fa fa-id-card fa-box" aria-hidden="true"></i></div>
                                                    <div class="timeline-text col-10">
                                                    <h6>Московской государственный институт международных отношений у МИД России</h6>
                                                    <p class = "box-text">Бакалавариат по направлению Менеджмент</p>
                                                    <p class = "box-text">Факультет: Международный бизнес и деловое администрирование</p>
                                                    </div>

                                            </div>
                                        </div>
                                    </div>
                            </div>
                </div>
                    </div>

                </div>
<a href="{{url_for('add_job')}}" class="button large scrolly">Добавить работу</a>
</section>

</div>


    {% include "footer.html" %}













