{% include "header.html"%}
{% import "bootstrap/wtf.html" as wtf %}
<!-- Проверка был ли запрос на изменение или создание нового объекта -->
{% if is_edit == True%}
<h1> Редактирование поста</h1>
{% else %}
<h1> Создание нового поста</h1>
{% endif %}
<!-- WTForm с ckeditor -->
<div class="container col-6" style="justify-content:center;">
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body',enterMode = ckeditor.ENTER_BR) }}
        {{ wtf.quick_form(form, novalidate=True) }}
</div>


{% include "footer.html" %}