<footer>
    <div class="container col-lg-12 col-md-12 col-sm-12 footer-template">
      <p style="color:white;">Свяжитесь со мной через:</p>
      <div class="row">

        <div>
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#" style="color:#3f8dba;">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>

                </span>
                <p> GitHub</p>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" style="color:#3f8dba;">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-telegram fa-stack-1x fa-inverse"></i>
                </span>
                <p>Telegram</p>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted" style="font-size:10px;color:white;">Copyright &copy; VanDerSite 2022</p>
        </div>
      </div>
    </div>
  </footer>


</body>

</html>