{% include "header.html" %}

{% if is_loggedin%}
<h1> Добро пожаловать {{current_user.name}}!</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in posts %}
            <div>
                <a href="{{url_for('read_post',post_number = post.id)}}">
                    <h2 style="text-align:center;">
                        {{post.post_title}}
                    </h2>
                    <h3 style="text-align:left;" style="text-align:justify;">
                        {{post.post_subtitle}}
                    </h3>
                </a>
                <p>Опубликовано {{post.author}}  {{post.date}}</p>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>

</div>
{% elif current_user.id == 1 %}
<a href="{{url_for('add_post')}}" class="button large scrolly">Добавить пост</a>
{% else %}
<h2> Чтобы получить доступ к блогу, Вам необходимо зарегистрироваться и (или) авторизоваться</h2>
<a href="{{url_for('login')}}" class="button large scrolly">Войти</a>
<a href="{{url_for('register')}}" class="button large scrolly">Зарегистрироваться</a>
{% endif %}

{% include "footer.html" %}
