{% include "header.html" %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in posts %}
            <div>
                <a href="{{url_for('read_post',post_number = post.id)}}">
                    <h2 style="text-align:left;">
                        {{post.post_title}}
                    </h2>
                    <h3 style="text-align:justify;">
                        {{post.post_subtitle}}
                    </h3>
                </a>
                <p>Опубликовано {{post.author}}  {{post.date}}</p>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>

</div>
<a href="{{url_for('add_post')}}" class="button large scrolly">Добавить пост</a>

{% include "footer.html" %}
